modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34083
externalPort = 6000

[[ports]]
localPort = 36091
externalPort = 4200

[[ports]]
localPort = 36373
externalPort = 8099

[[ports]]
localPort = 36429
externalPort = 3000

[[ports]]
localPort = 37141
externalPort = 8080

[[ports]]
localPort = 37705
externalPort = 5173

[[ports]]
localPort = 38147
externalPort = 3001

[[ports]]
localPort = 38811
externalPort = 9000

[[ports]]
localPort = 38977
externalPort = 3002

[[ports]]
localPort = 39169
externalPort = 3003

[[ports]]
localPort = 40473
externalPort = 8008

[[ports]]
localPort = 42055
externalPort = 5000

[[ports]]
localPort = 42455
externalPort = 8081

[[ports]]
localPort = 42553
externalPort = 8000

[[ports]]
localPort = 44989
externalPort = 6800
