modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34339
externalPort = 5000

[[ports]]
localPort = 36449
externalPort = 4200

[[ports]]
localPort = 36657
externalPort = 5173

[[ports]]
localPort = 37893
externalPort = 3002

[[ports]]
localPort = 38081
externalPort = 8080

[[ports]]
localPort = 39413
externalPort = 6000

[[ports]]
localPort = 40159
externalPort = 8099

[[ports]]
localPort = 40595
externalPort = 3001

[[ports]]
localPort = 41217
externalPort = 9000

[[ports]]
localPort = 41399
externalPort = 8081

[[ports]]
localPort = 41851
externalPort = 3003

[[ports]]
localPort = 43531
externalPort = 8000

[[ports]]
localPort = 44197
externalPort = 3000

[[ports]]
localPort = 44439
externalPort = 6800

[[ports]]
localPort = 46635
externalPort = 8008
